# Code owners
# Syntax: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Setze hier Standard-Owner für den gesamten Code
*   @ww3avengers
