# Dependencies
node_modules/

# Build output
dist/
.vite/
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite-output.log

# Tests & Coverage
coverage/
.junit*
*.junit.xml
junit.xml

# Editor/OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Misc
*.local
*.cache
*.tmp
*.log
.env*.local
.env

# Vercel specific
.vercel
